<div ng-controller="PaulAik.UltimateUrlPickerDialog.Controller">

    <!--<div class="umb-control-group">
        <label class="control-label">
            Link To Document
        </label>
        <input type="text"
               class="umb-editor umb-textstring"
               readonly="readonly"
               ng-model="model.target.url" />
    </div>-->
    
    <div class="umb-control-group" ng-show="allowLinkTitle">
        <label class="control-label">
            Link Title
        </label>
        <input type="text"
               localize="placeholder"
               placeholder="Enter a name..."
               class="umb-editor umb-textstring"
               ng-model="model.target.title" />
    </div>

    <div class="umb-control-group" ng-show="allowNewWindow">
        <label class="control-label">
            Target
        </label>
        <label class="checkbox no-indent">
            <input type="checkbox" ng-model="model.target.newWindow" ng-true-value="true" ng-false-value="false" />
            <localize key="defaultdialogs_openInNewWindow">Opens the linked document in a new window or tab</localize>
        </label>
    </div>

    <div class="umb-control-group">
        <label class="control-label">
            Content Type
        </label>
        <select ng-model="model.target.mode" ng-options="mode.id as mode.name for mode in modes">
            
        </select>
    </div>

    <div ng-show="model.target.mode == 1">
        <div class="umb-control-group">
            <label class="control-label">
                URL
            </label>
            <input type="text"
                   localize="placeholder"
                   placeholder="URL"
                   class="umb-editor umb-textstring"
                   ng-model="model.target.url" />
        </div>
    </div>

    <div ng-show="model.target.mode == 2">
        <div class="umb-control-group">
            <h5>
                <label>Link to page</label>
            </h5>
            <umb-tree section="content"
                        hideheader="true"
                        hideoptions="true"
                        eventhandler="dialogTreeEventHandler"
                        isdialog="true"
                        enablecheckboxes="true">
            </umb-tree>
        </div>
    </div>

    <div ng-show="model.target.mode == 3">
        <div class="umb-control-group">
            <h5>
                <localize key="defaultdialogs_linkToMedia">Link to media</localize>
            </h5>
            <a href ng-click="switchToMediaPicker()" class="btn">
                <localize key="defaultdialogs_selectMedia">Select media</localize>
            </a>
        </div>
        <umb-overlay ng-if="mediaPickerOverlay.show"
                     model="mediaPickerOverlay"
                     view="mediaPickerOverlay.view"
                     position="right">
        </umb-overlay>
    </div>
</div>