<div class="classic-picker" ng-controller="PaulAik.UltimateUrlPicker">
    <ul class="unstyled list-icons" ng-show="!cfg.maxNumberOfItems || renderModel.length < cfg.maxNumberOfItems">
        <li>
            <i class="icon icon-add blue"></i>
            <a href="#" ng-click="openEditDialog()" prevent-default>
                <localize key="general_add">Add</localize>
            </a>
        </li>
    </ul>

    <umb-overlay ng-if="overlay.show"
                 model="overlay"
                 view="overlay.view"
                 position="right">
    </umb-overlay>
</div>
