<div ng-controller="PaulAik.UltimateUrlPickerDialog.Controller">

    <!--<div class="umb-control-group">
        <label class="control-label">
            Link To Document
        </label>
        <input type="text"
               class="umb-editor umb-textstring"
               readonly="readonly"
               ng-model="model.target.url" />
    </div>-->
    
    <div class="umb-control-group" ng-show="allowLinkTitle">
        <label class="control-label">
            Link Title
        </label>
        <input type="text"
               localize="placeholder"
               placeholder="Enter a name..."
               class="umb-editor umb-textstring"
               ng-model="model.target.title" />
    </div>

    <div class="umb-control-group" ng-show="allowNewWindow">
        <label class="control-label">
            Target
        </label>
        <label class="checkbox no-indent">
            <input type="checkbox" ng-model="model.target.target" ng-true-value="_blank" ng-false-value="" />
            <localize key="defaultdialogs_openInNewWindow">Opens the linked document in a new window or tab</localize>
        </label>
    </div>

    <div class="umb-control-group">
        <label class="control-label">
            Content Type
        </label>
        <select ng-model="model.target.contentTypeOption">
            <option ng-repeat="option in contentTypeOptions" ng-selected="model.target.contentTypeOption==option.id" value="{{option.id}}">{{option.name}}</option>
        </select>
    </div>

    <div ng-show="model.target.contentTypeOption == 'url'">
        <umb-control-group label="@content_urls">
            <input type="text"
                   localize="placeholder"
                   placeholder="@general_url"
                   class="umb-editor umb-textstring"
                   ng-model="model.target.url"
                   />
        </umb-control-group>
    </div>

    <div ng-show="model.target.contentTypeOption == 'content'">
        <div class="umb-control-group">
            <h5>
                <localize key="defaultdialogs_linkToPage">Link to page</localize>
            </h5>
            <umb-tree section="content"
                        hideheader="true"
                        hideoptions="true"
                        eventhandler="dialogTreeEventHandler"
                        isdialog="true"
                        enablecheckboxes="true">
            </umb-tree>
        </div>
    </div>

    <div ng-show="model.target.contentTypeOption == 'media'">
        <div class="umb-control-group">
            <h5>
                <localize key="defaultdialogs_linkToMedia">Link to media</localize>
            </h5>
            <a href ng-click="switchToMediaPicker()" class="btn">
                <localize key="defaultdialogs_selectMedia">Select media</localize>
            </a>
        </div>
        <umb-overlay ng-if="mediaPickerOverlay.show"
                     model="mediaPickerOverlay"
                     view="mediaPickerOverlay.view"
                     position="right">
        </umb-overlay>
    </div>
</div>