<div ng-controller="PaulAik.ClassicDataTypeGrid.DataTypeDialogController">

    <div class="umb-control-group">
        <label class="control-label">
            Name
        </label>
        <input type="text"
               class="umb-editor umb-textstring"
               ng-model="model.target.name" />
    </div>

    <div class="umb-control-group">
        <label class="control-label">
            Alias
        </label>
        <input type="text"
               class="umb-editor umb-textstring"
               ng-model="model.target.alias" />
    </div>

    <div class="umb-control-group">
        <label class="control-label">
            Data Type
        </label>
        <select ng-model="model.target.dataTypeId" >
            <option ng-repeat="dataTypeResource in dataTypeResources" value="{{dataTypeResource.id}}" ng-selected="dataTypeResource.id == model.target.dataTypeId">{{dataTypeResource.name}}</option>
        </select>
    </div>

    <div class="umb-control-group">
        <label class="control-label">
            Mandatory
        </label>
        <input type="checkbox" ng-model="model.target.mandatory" ng-true-value="1" ng-false-value="0" />
        <label>This column is mandatory</label>
    </div>

    <div class="umb-control-group">
        <label class="control-label">
            Visible
        </label>
        <input type="checkbox" ng-model="model.target.visible" ng-true-value="1" ng-false-value="0" />
        <label>This column is visible in the grid (can still be edited)</label>
    </div>
</div>